.navbar{
    background-color: #F2F8F2;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav-atas{
    display: flex;
    justify-content: center;
    background-color: #1F9E84;
    color: white;
    height: 40px;
    align-items: center;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.logo{
    display: flex;
    align-items: center;
}
.ukuran-logo{
    width: 53px;
    height: 65px;
}
.judul{
    margin: 0px;
    margin-left: 10px;
    color: #1F9E84;
}
.nav-logo{
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
}

.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-links{
    color:black;
    text-decoration: none;
    padding: 0,5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.nav-item{
    line-height: 40px;
    margin-right: 40px;
}

.nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .7s ease, background-color .5s ease;
}

.nav-item:hover:after{
    width: 100%;
    background-color: #1F9E84;
}

.active{
    color: #1F9E84;
    font-weight: bold;
}