.navbar{
    background-color: #F2F8F2;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.5px;
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav-atas{
    display: flex;
    justify-content: center;
    background-color: #1F9E84;
    color: white;
    height: 30px;
    align-items: center;
    font-size: 15px;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.logo{
    display: flex;
    align-items: center;
}
.ukuran-logo{
    width: 53px;
    height: 65px;
}
.judul{
    margin: 0px;
    margin-left: 10px;
    color: #1F9E84;
}
.judul-atas{
    font-size: 22px;
    font-weight: bold;
}
.judul-bawah{
    font-size: 12px;
    font-weight: bold;
}
.nav-logo{
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
}

.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-links{
    color:black;
    text-decoration: none;
}

.nav-item{
    line-height: 40px;
    margin-left: 40px;
}

.nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .7s ease, background-color .5s ease;
}

.nav-item:hover:after{
    width: 100%;
    background-color: #1F9E84;
}
.active{
    color: #1F9E84;
    font-weight: bold;
}
.icon{
    display: flex;
    align-items: center;
    
}
.color{
    background-color: #1F9E84;
}
.footer{
    background-color: #1F9E84;
    font-size: 13.5px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 20;
}
.footer-judul{
    margin: 0px;
    margin-left: 10px;
    color: #F2F8F2;
}
.jarak-logo{
    margin-bottom: 20px;
}
.component{
    display: flex;
    align-items: center;
}
.font-component{
    color: #F2F8F2;
    font-size: 12px;
    margin-left: 20px;
}
.footer-button{
    margin-left: 20px;
    font-weight: bold;
}
.footer-judulcomponent{
    font-size: 17px;
    color: #F2F8F2;
    font-weight: bold;
}
.jarak-statistik{
    margin-bottom: 10px;
}
.footer-statistik{
    display: flex;
    align-items: center;
    height: 30px;
}
.statistik-font{
    color: #F2F8F2;
    align-items: center;
    margin-left: 5px;
}
.sosialmedia-judul{
    font-size: 17px;
    color: #F2F8F2;
    font-weight: bold;
    text-align: right;
}
.footer-sosialmedia{
    display: flex;
}
.sosialmedia-gambar{
    margin-left: 10px;
}