.content{
    display: flex;
    align-items: center;
    background-color: #F2F8F2;
    z-index: 0;
  }
  .startDiv{
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
  .gambar-beranda{
      width: 200px;
      height: 200px;
  }
  .style-atas{
    color: #009042;
    font-size: 30px;
  }
  .style-tengah{
    color: black;
    font-size: 56px;
  }
  .style-bawah{
    color: black;
    font-size: 20px;
  }
  .tebal{
      font-weight: bold;
  }
  
.jarak{
    margin: 0px;
}
.butoon{
    margin-top: 20px;
}