.content{
    display: flex;
    align-items: center;
    background-color: #F2F8F2;
    z-index: 0;
  }
  .jarak-padding{
    background-color: #F2F8F2;
    padding: 0px 50px 0px 50px;
  }
  .startDiv{
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    z-index: 1;
  }
  .gambar-beranda{
      width: 910px;
      height: 550px;
  }
  .style-atas{
    color: #009042;
    font-size: 30px;
  }
  .style-tengah{
    color: black;
    font-size: 54px;
  }
  .style-bawah{
    color: black;
    font-size: 20px;
  }
  .tebal{
      font-weight: bold;
  }
  
.jarak{
    margin: 0px;
}
.butoon{
    margin-top: 20px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  display: none;
}
.dashbord-div{
  border-radius: 20px;
  height : 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashbord-tittle{
  color: #F5B400;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
}
.performa{
  display: flex;
  align-items: center;
  background-color: #F2F8F2;
}
.performa-tittle{
  color:#009042;
}
.patient{
  display: flex;
  align-items: center;
  justify-content: center;
}
.p{
  margin: 0px;
}
.tittle{
  margin-left: 5px;
}
.angka{
  font-size: 30px;
  color: #009042;
  font-weight: bold;
}
.font{
  font-size: 12px;
  color: #F5B400;
}
.berita{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.berita-judul{
  font-size: 20px;
  font-weight: bold;
}
.berita-text{
  display: flex;
  justify-content: center;
  margin-left: 17px;
  font-weight: bold;
  font-size: 22px;
}
.ukuran-berita{
  width: 230px;
  height: 150px;
}
.galeri{
  padding-left: 100px;
}
.ukuran-galeri{
  width: 330px;
  height: 240px;
}
.galeri-text{
  background-color: #6EA70C;
  color: #F2F8F2;
  height: 190px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.galeri-text2{
  background-color: #169BB5;
  color: #F2F8F2;
  height: 190px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.text-size{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.galeri-foto{
  float: right;
}
.informasiPublik{
  display: flex;
  align-items: center;
  justify-content: center;
}
.jarak-informasi{
  margin-bottom: 60px;
}
.informasi-judul{
  color: #F5B400;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}
.informasi{
  border-radius: 20px;
  height : 100px;
  width: 180px; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-right: 40px;
  margin-left: 40px;
}
.informasi-text{
  text-align: center;
}
.informasi-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-ilustrasi{
  position: relative;
}
.ilustrasi{
  position: absolute;
  background-color: rgba(112, 203, 112, 0.3);
  left: 0px;
  top: 0px;
  z-index: 1px;
  height: 450px;
  width: 100%;
}
.ilustrasi-gambar{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0px;
  height: 450px;
  width: 100%;
}
.ilustrasi-judul{
  position: absolute;
  margin-left: 20px;
  bottom: 0px;
  margin-bottom: 20px;
}
.ilustrasi-font{
  font-size: 30px;
  font-weight: bold;
  color: #F2F8F2;
  margin-bottom: 0px;
}
.video-div{
  background-color: rgba(112, 203, 112, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
}
.video-icon{
  color: #F2F8F2;
  font-size: 150;
}
.video-font{
  font-size: 18px;
  font-weight: bold;
  color: #F2F8F2;
  position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translate( -50%, 0 );
  text-align: center;
  width: 500px;
}
.div-pengaduan{
  height: 500px;
  background-color: #70CB70;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pengaduan-font{
  color: #F2F8F2;
  font-size: 65px;
  font-weight: bold;
  margin: 20px;
}
.pengaduan-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pengaduan-button1{
  padding-right: 20px;
}
.pengaduan-button2{
  padding-left: 20px;
}