 ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #F2F8F2;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1250px;
    height: 790px;
    background: #F2F8F2;
    margin: 20px auto 20px;
    word-break: break-all;
  }
  
  .bloc-tabs {
    display: flex;
    justify-content: space-between;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 30.7%;
    background: #C7C7C7;
    color: #F2F8F2;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: #F5B400;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .text {
    background: #F2F8F2;
    padding: 20px;
    height: 100%;
    display: none;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  .map-tittle{
      color: #F5B400;
      font-size: 18px;
      font-weight: bold;
  }
  .map-card{
      color: #009042;
      margin-bottom: 5px;
  }