.jarak-teks{
    background-color: #F2F8F2;
    padding: 0px 50px 0px 50px;
}
.div-profil{
    height: 100px;
    background-color: #1F9E84;
    padding: 30px;
    display: flex;
    align-items: center;
}
.judul-profil{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}
.grid-awal{
    background-color: #F2F8F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.awal-sambutan{
    color: #F5B400;
    font-size: 35px;
    font-weight: bold;
}
.isi-sambutan{
    text-align: justify;
}
.ukuran-isi{
    font-size: 20px;
}
.isi2-sambutan{
    font-size: 25px;
    font-weight: bold;
}
.isi3-sambutan{
    font-size: 15px;
}
.foto-sambutan{
    display: flex;
    justify-content: center;
    height: 460px;
    width: 333px;
}
.judul-visi{
    color: #F5B400;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
}
.visi-misi{
    display: flex;
    justify-content: center;
}
.ukuran-judul{
    height: 40px;
}
.isi-visi{
    font-size: 20px;
}
.margin-atas{
    margin-top: 40px;
}
.margin-bawah{
    margin-bottom: 40px;
}
.struktur-div{
    width: 1349px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
.struktur-foto{
    width: 1300px;
    height: 640px;
}
.pejabat-judul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pejabat-font{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding-top: 20px;
}